In [1]:
x = [34,89,-90,45.7,23.8,'Python','SQL',True]

In [2]:
x

[34, 89, -90, 45.7, 23.8, 'Python', 'SQL', True]

In [3]:
type(x)

list

In [4]:
#indexing & slicing
x

[34, 89, -90, 45.7, 23.8, 'Python', 'SQL', True]

In [5]:
x[0]

34

In [8]:
#wap to slice the code from -90 to python .
x[2:6]

[-90, 45.7, 23.8, 'Python']

In [9]:
x

[34, 89, -90, 45.7, 23.8, 'Python', 'SQL', True]

In [16]:
# True ----- Python 

x[-1:-4:-1]

[True, 'SQL', 'Python']

In [18]:
x[7:5:-1]

[True, 'SQL']

In [19]:
# Mutable ------> 
x

[34, 89, -90, 45.7, 23.8, 'Python', 'SQL', True]

In [21]:
x[0]='Shahank '

In [22]:
x

['Shahank ', 89, -90, 45.7, 23.8, 'Python', 'SQL', True]

In [23]:
x[0]

'Shahank '

In [24]:
#wap to find empty list.
#wap to find single element list.

x = []
print(x)

[]

In [25]:
x = [1]
print(x)

[1]

In [26]:
#wap to add the number present in the list.
# x = [1,2,3,4]

#wap to find odd and even number in a list.
# x = [89,67,45,22,90,76]

#wap to find common element in a list.
# x = [34,45,67,89]
# y = [78,90,45,23]

In [29]:
x = [1,2,3,4]
add = 0
for i in x:
    add = add+i
print(add)

10

In [30]:
# x = [89,67,45,22,90,76]
x=[89,67,45,22,90,76]
for i in x:
    if i%2==0:
        print("Even")
    else:
        print ("Odd")

Odd
Odd
Odd
Even
Even
Even

In [34]:
# Count the number how many numbers are even & odd
x = [89,67,45,22,90,76]
for i in x:
    if i%2!=0:
        print("Odd number------------>",i)
    else:
        print("Even number",i)

Odd number------------> 89
Odd number------------> 67
Odd number------------> 45
Even number 22
Even number 90
Even number 76

In [40]:
# Count the number how many numbers are even & odd
x = [89,67,45,21,77,43,22,90,76]
count_even = 0
count_odd = 0
for i in x:
    if i%2!=0:
        print("Odd number------------>",i)
        count_odd+=1
        
    else:
        print("Even number",i)
        count_even+=1
        
print("Odd number count = ",count_odd)
print("Even number count = ",count_even)

Odd number------------> 89
Odd number------------> 67
Odd number------------> 45
Odd number------------> 21
Odd number------------> 77
Odd number------------> 43
Even number 22
Even number 90
Even number 76
Odd number count =  6
Even number count =  3

In [42]:
#wap to find common element in a list.
x = [34,45,67,89]
y = [78,90,45,23]

for i in x:
    for j in y:
        if i == j:
            print('Common element',i)

Common element 45