In [6]:
#dict----->key- value pair
x=[2,3,4]
y=(2,3,4)

a = {
    'name':'abc',
     'marks':34,
     'age':12
    }

In [7]:
a

{'name': 'abc', 'marks': 34, 'age': 12}

In [8]:
type(a)

dict

In [11]:
a = {
    'name':['abc','xyz','qwe','rty'],
     'marks':(34,45,67,89),
     'age':(12,56,23,45)
    }

In [12]:
a

{'name': ['abc', 'xyz', 'qwe', 'rty'],
 'marks': (34, 45, 67, 89),
 'age': (12, 56, 23, 45)}

In [13]:
a

{'name': ['abc', 'xyz', 'qwe', 'rty'],
 'marks': (34, 45, 67, 89),
 'age': (12, 56, 23, 45)}

In [16]:
#dict ----> no index
a['name'][1]

'xyz'

In [17]:
#muttable or not ??
a

{'name': ['abc', 'xyz', 'qwe', 'rty'],
 'marks': (34, 45, 67, 89),
 'age': (12, 56, 23, 45)}

In [20]:
a['name']=['devil','asd','cvb']

In [21]:
a

{'name': ['devil', 'asd', 'cvb'],
 'marks': (34, 45, 67, 89),
 'age': (12, 56, 23, 45)}

In [29]:
a['name'][0]='angel'

In [30]:
a

{'name': ['angel', 'asd', 'cvb'], 'marks': 100, 'age': (12, 56, 23, 45)}

In [27]:
a['marks']=100

In [28]:
a

{'name': ['angel', 'asd', 'cvb'], 'marks': 100, 'age': (12, 56, 23, 45)}

In [31]:
x={'name': ['abc', 'xyz', 'qwe', 'rty'],
 'marks': (34, 45, 67, 89),
 'age': (12, 56, 23, 45)
  }

In [33]:
x['marks'][0]=100

TypeError: 'tuple' object does not support item assignment

In [34]:
a = {
    'name': ['abc', 'xyz', 'qwe', 'rty'],
     'marks': (34, 45, 67, 89),
     'age': (12, 56, 23, 45)
    
}

In [35]:
a

{'name': ['abc', 'xyz', 'qwe', 'rty'],
 'marks': (34, 45, 67, 89),
 'age': (12, 56, 23, 45)}

In [38]:
a={'name': ['angel', 'asd', 'cvd'],
 'marks': (34, 45, 67, 89),
'age': (12, 56, 23, 45)},

{'name': ['angel', 'xyz', 'qwe', 'rty'],
 'marks': (4,6,8,3),
 'age': (14,5,8,3)}

{'name': ['angel', 'xyz', 'qwe', 'rty'],
 'marks': (4, 6, 8, 3),
 'age': (14, 5, 8, 3)}

In [39]:
a

({'name': ['angel', 'asd', 'cvd'],
  'marks': (34, 45, 67, 89),
  'age': (12, 56, 23, 45)},)

In [43]:
a = {
    'name': ['abc', 'xyz', 'qwe', 'rty'],
     'marks': (34, 45, 67, 89),
     'age': (12, 56, 23, 45),
    'b':{
        'age':34,
        'name':['asd','xyz']
    }
    
}

In [44]:
a

{'name': ['abc', 'xyz', 'qwe', 'rty'],
 'marks': (34, 45, 67, 89),
 'age': (12, 56, 23, 45),
 'b': {'age': 34, 'name': ['asd', 'xyz']}}

In [48]:
a['b']['name'][1]

'xyz'

In [50]:
a = {
    'name': ['abc', 'xyz', 'qwe', 'rty'],
     'marks': (34, 45, 67, 89),
     'age': (12, 56, 23, 45),
   ' b':{
        'age':34,
        'name':['asd','xyz'],
        0:1,
        0:'1'
    }
    
}

In [55]:
b={
        'age':34,
        'name':['asd','xyz'],
        100:1,
        0:'1',
    1:'yes',
    '0':'True'
    }

In [56]:
b

{'age': 34, 'name': ['asd', 'xyz'], 100: 1, 0: '1', 1: 'yes', '0': 'True'}

In [57]:
b[100]

1

In [58]:
b={
        'age':34,
        'name':['asd','xyz'],
        0:100,
        0:'1',
    1:'yes',
    '0':'True'
    }
b

{'age': 34, 'name': ['asd', 'xyz'], 0: '1', 1: 'yes', '0': 'True'}

In [59]:
b[0]

'1'

In [60]:
#wap to make a dict of emp. and ask the monthly salary and give
# the o/p as annual income of a person/emp.

#wap to find the avg marks of a student in different subject
# using dic.

# wap to sum 5 numbers in a list.
# a=[1,2,3,4,5]

emp = {
    'name':'abc',
    'm_salary':20000,
    'age':23
}
emp

{'name': 'abc', 'm_salary': 20000, 'age': 23}

In [62]:
a_salary = emp['m_salary']*12

In [63]:
a_salary

240000

In [68]:
student= {
    'marks':(25,50,41)
}
total_marks = student['marks'][:] 
avg_marks = (total_marks[0]+total_marks[1]+total_marks[2])/3

In [69]:
avg_marks

38.666666666666664

In [70]:
a=[1,2,3,4,5]
b=a[0]+a[1]+a[2]+a[3]+a[4]
print(b)

15

In [71]:
a=[1,2,3,4,5]
add = sum(a)
print(add)

15

In [75]:
#loop
a=[1,2,3,4,5]
total = 0
for i in range(0,len(a)):
    total=total+a[i]
print(total)

15

In [82]:
x = [10,20,30,40,89,67]
total =0
for i in range(0,len(x)):
    total=total+x[i]
print(total)

256

In [77]:
len(x)

4

In [ ]:
#wap and add 5 number in a list!!