In [1]:
#dict----->key- value pair
x=[2,3,4]
y=(2,3,4)

a = {
    'name':'abc',
     'marks':34,
     'age':12
    }

In [2]:
a

{'name': 'abc', 'marks': 34, 'age': 12}

In [3]:
type(a)

dict

In [4]:
a = {
    'name':['abc','xyz','qwe','rty'],
     'marks':(34,45,67,89),
     'age':(12,56,23,45)
    }

In [5]:
a

{'name': ['abc', 'xyz', 'qwe', 'rty'],
 'marks': (34, 45, 67, 89),
 'age': (12, 56, 23, 45)}

In [6]:
a

{'name': ['abc', 'xyz', 'qwe', 'rty'],
 'marks': (34, 45, 67, 89),
 'age': (12, 56, 23, 45)}

In [7]:
#dict ----> no index
a['name'][1]

'xyz'

In [8]:
#muttable or not ??
a

{'name': ['abc', 'xyz', 'qwe', 'rty'],
 'marks': (34, 45, 67, 89),
 'age': (12, 56, 23, 45)}

In [9]:
a['name']=['devil','asd','cvb']

In [10]:
a

{'name': ['devil', 'asd', 'cvb'],
 'marks': (34, 45, 67, 89),
 'age': (12, 56, 23, 45)}

In [11]:
a['name'][0]='angel'

In [12]:
a

{'name': ['angel', 'asd', 'cvb'],
 'marks': (34, 45, 67, 89),
 'age': (12, 56, 23, 45)}

In [13]:
a['marks']=100

In [14]:
a

{'name': ['angel', 'asd', 'cvb'], 'marks': 100, 'age': (12, 56, 23, 45)}

In [15]:
x={'name': ['abc', 'xyz', 'qwe', 'rty'],
 'marks': (34, 45, 67, 89),
 'age': (12, 56, 23, 45)
  }

In [16]:
x['marks'][0]=100

TypeError: 'tuple' object does not support item assignment

In [ ]:
a = {
    'name': ['abc', 'xyz', 'qwe', 'rty'],
     'marks': (34, 45, 67, 89),
     'age': (12, 56, 23, 45)
    
}

In [ ]:
a

In [ ]:
a={'name': ['angel', 'asd', 'cvd'],
 'marks': (34, 45, 67, 89),
'age': (12, 56, 23, 45)},

{'name': ['angel', 'xyz', 'qwe', 'rty'],
 'marks': (4,6,8,3),
 'age': (14,5,8,3)}

In [ ]:
a

In [ ]:
a = {
    'name': ['abc', 'xyz', 'qwe', 'rty'],
     'marks': (34, 45, 67, 89),
     'age': (12, 56, 23, 45),
    'b':{
        'age':34,
        'name':['asd','xyz']
    }
    
}

In [ ]:
a

In [ ]:
a['b']['name'][1]

In [ ]:
a = {
    'name': ['abc', 'xyz', 'qwe', 'rty'],
     'marks': (34, 45, 67, 89),
     'age': (12, 56, 23, 45),
   ' b':{
        'age':34,
        'name':['asd','xyz'],
        0:1,
        0:'1'
    }
    
}

In [ ]:
b={
        'age':34,
        'name':['asd','xyz'],
        100:1,
        0:'1',
    1:'yes',
    '0':'True'
    }

In [ ]:
b

In [ ]:
b[100]

In [ ]:
b={
        'age':34,
        'name':['asd','xyz'],
        0:100,
        0:'1',
    1:'yes',
    '0':'True'
    }
b

In [ ]:
b[0]

In [ ]:
#wap to make a dict of emp. and ask the monthly salary and give
# the o/p as annual income of a person/emp.

#wap to find the avg marks of a student in different subject
# using dic.

# wap to sum 5 numbers in a list.
# a=[1,2,3,4,5]

emp = {
    'name':'abc',
    'm_salary':20000,
    'age':23
}
emp

In [ ]:
a_salary = emp['m_salary']*12

In [ ]:
a_salary

In [ ]:
student= {
    'marks':(25,50,41)
}
total_marks = student['marks'][:] 
avg_marks = (total_marks[0]+total_marks[1]+total_marks[2])/3

In [ ]:
avg_marks

In [ ]:
a=[1,2,3,4,5]
b=a[0]+a[1]+a[2]+a[3]+a[4]
print(b)

In [ ]:
a=[1,2,3,4,5]
add = sum(a)
print(add)

In [ ]:
#loop
a=[1,2,3,4,5]
total = 0
for i in range(0,len(a)):
    total=total+a[i]
print(total)

In [ ]:
x = [10,20,30,40,89,67]
total =0
for i in range(0,len(x)):
    total=total+x[i]
print(total)

In [ ]:
len(x)

In [ ]:
#wap and add 5 number in a list!!
item=['python','java','ai','js']
for i in item:
    if i==item:
        print('yes')
    else:
        print('no')

In [23]:
i=input("Enter the subject")
if i=='python':
    print('yes')
elif i == 'java':
    print('yes')
elif i == 'ai':
    print('yes')
else:
    print('no')

Enter the subjectpython
yes

In [24]:
emp = {
    'name':'abc',
    'm_salary':20000,
    'age':23
}
emp

{'name': 'abc', 'm_salary': 20000, 'age': 23}

In [25]:
type(emp)

dict

In [27]:
#method -----> key,values,items
emp.keys()

dict_keys(['name', 'm_salary', 'age'])

In [28]:
#value
emp.values()

dict_values(['abc', 20000, 23])

In [29]:
#items
emp.items()

dict_items([('name', 'abc'), ('m_salary', 20000), ('age', 23)])

In [30]:
#dict----> single element dict.
# dict----> empty dict.

# single element---->
a = {
    0:23
}
a

{0: 23}

In [31]:
type(a)

dict

In [32]:
#empty dict
x = {}
x

{}

In [33]:
type(x)

dict