In [1]:
#wap and  make a class of emp having the properties of
# name age and monthly salary and also try to calculate the 
# annual income.

# condition----> if your emp take more than 12 holidays
# then salary is annual salary is reduce to 3 %

#if emp take no holiday then he will get 5% extra on his salary.

class employee:
    def annual_income_o(self):
        name="xyz"
        age=28
        m_salary=250000
        annual_income= m_salary*12
        no_of_holidays=10
        if no_of_holidays>12:
            annual_income_o=annual_income-0.03annual_income
        else:
            annual_income_o=annual_income+0.05annual_income
p=employee()
p.annual_income_o()

SyntaxError: invalid syntax (Temp/ipykernel_6380/1177184379.py, line 19)

In [5]:
#wap and  make a class of emp having the properties of
# name age and monthly salary and also try to calculate the 
# annual income.

# condition----> if your emp take more than 12 holidays
# then  annual salary is reduce to 3 %

#if emp take no holiday then he will get 5% extra on his salary.
class emp:
    def emp_details(self):
        name = 'abc'
        age=23
        m_sal = 20000
        a_sal = m_sal*12
        print(a_sal)
        holiday = 0
        if holiday>12:
            red_sal = (a_sal*3)/100
            print(red_sal)
            print("Recieve sal = ",a_sal-red_sal)
        elif holiday==0:
            bonus = (a_sal*5)/100
            print(bonus)
            print("Salary without holidays",a_sal+bonus)
            
            
        
e = emp()
e.emp_details()

240000
12000.0
Salary without holidays 252000.0

In [11]:
class employee:
    def emp_details(self):
        name="xyz"
        age=28
        m_salary=25000
        annual_income= m_salary*12
        print(annual_income)
        no_of_holidays=10
        if no_of_holidays>12:
            print("annual_income_o---",annual_income-0.03*annual_income)
        elif no_of_holidays==0:
            print("annual_income_o---",annual_income+0.05*annual_income)
        else:
            print("please give the number of holidays more than 12 or equal to 0")
p=employee()
p.emp_details()

300000
please give the number of holidays more than 12 or equal to 0

In [13]:
#fucntion
# constructor

class student:
#     constructor
    def __init__(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks
        
s = student('abc',23,90)
s.name

'abc'

In [14]:
#wap to claculate the average age of 5 student with the help of 
# constructor.
class students:
    def __init__(self,age1,age2,age3,age4,age5):
        self.age1=age1
        self.age2=age2
        self.age3=age3
        self.age4=age4
        self.age5=age5
        average= (age1+age2+age3+age4+age5)/5
        self.average=average
s=students(15,16,19,24,26)
s.average

20.0

In [19]:
class employee:
    def __init__(self,name,age,monthly_salary,no_of_holidays):
        self.name=name
        self.age=age
        self.monthly_salary=monthly_salary
        self.no_of_holidays=no_of_holidays
        annual_income=monthly_salary*12
        if no_of_holidays>12:
            print("annual_income---",annual_income-0.03*annual_income)
        elif no_of_holidays==0:
            print("annual_income---",annual_income+0.05*annual_income)
        else:
            print("error:give no_of_holidays more than 12 or 0")
s=employee("xyz",24,25000,0)
# s.annual_income

annual_income--- 315000.0

NameError: name 'annual_income' is not defined

In [18]:
class emp:
    def __init__(self,name,age,monthly_salary,no_of_holidays):
        self.name=name
        self.age=age
        self.monthly_salary=monthly_salary
        self.no_of_holidays=no_of_holidays
        
    def a_sal(self):
        annual_sal = self.monthly_salary*12
        return(annual_sal)

e = emp('a',12,200,12)
e.a_sal()

2400

In [27]:
#inheritance----> to accqire the property of different class.
class std1:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
class std2(std1):
    def __init__(self,name,age,marks):
        std1.__init__(self,name,age)
        self.marks = marks
        


s = std2('a',34,45)

In [28]:
s.name

'a'

In [29]:
s.age

34

In [36]:
class std1:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
class std2(std1):
    def __init__(self,name,age,marks):
        super().__init__(name,age)
        self.marks = marks
        


s = std2('a',34,45)
s.name

'a'

In [33]:
class employee:
    def __init__(self,name,age,monthly_salary,no_of_holidays):
        self.name=name
        self.age=age
        self.monthly_salary=monthly_salary
        self.no_of_holidays=no_of_holidays
        
    def a_sal(self):
        annual_income=self.monthly_salary*12
        if self.no_of_holidays>12:
            print("annual_income---",annual_income-0.03*annual_income)
        elif no_of_holidays==0:
            print("annual_income---",annual_income+0.05*annual_income)
        else:
            print("error:give no_of_holidays more than 12 or 0")
e= employee("a",28,25000,13)
e.a_sal()

annual_income--- 291000.0

In [ ]:
#wap and make a class of automobile and truck and try to inherit 
# some common properties from the parent class.